@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    border: box;
}
body{
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    display: flex;
    height: 65px;
    background-color:black ;
    
    color: white;
    align-items: center;
    
    
}
.nav-logo{
    height: 44px;
    width: 152px;
    margin-left: 8px;
    
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    
  
}
.name{
    font-size: 1.3rem;
    font-weight: bolder; 
    
   
}

.logo-img{
    background-image: url("logo.png");
    background-size: cover;
    height: 44px;
    width:44px;
    margin-left:10px;
    margin-right:8px;
    
}

.nav-links a{
    margin-left: 15px;
    font-size: 1rem;
}

.container{
    background-color: black;
    min-height: 72vh;
    width: 70%;
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    color: white;
    padding: 34px;
    font-family: 'Varela Round', sans-serif;
    background-image: url("bg.jpg");
    

}



.songs-container h1{
    margin: 10px;
}
.songitem-container{
    margin-top: 70px;
    color: black;
}





.songitem{
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 34px;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songitem img{
    width: 43px;
    border-radius: 34px;
    margin: 0px 23px;

}
.timestamp{
    margin: 0 23px;
}
.timestamp i {
    cursor: pointer;
}
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    height: 130px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

#myProgressBar{

    width: 80vw;
    cursor: pointer;

}

.icons{
    margin-top:14px;
}

.icons i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}